.emoji {
    flex: 1;
}

body {
    font-family: 'Lato', serif;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.month {
    flex: 4;
    margin-right: 5px;
}

.clearfix {
    overflow: auto;
}

.text-image {
    float: left;
    width: 40%;
    margin-right: 20px;
}

.push {
    margin-left: auto;
}